:root {
  --bg-primary: #000;
  --bg-secondary: #F5F7FA;
  --bg-third: #B55EC9;
  --bg-primary-hover: #f2f2f2;
  --menu-bg-color: #FFFFFF;
  --box-shadow-light: 0px 0px 5px rgba(0, 0, 0, 0.1);
  --primary-text-color: #0b0b0c;
  --secondary-text-color: #FFD369;
}